body {
  margin: 40px;
  background-color: #fffbed;
  color: #244763;
}

a, a:visited {
  color: #871e1e;
}

h1,
nav {
  text-align: center;
}

.index {
  text-align: center;
  max-width: 500px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

.about {
    text-align: center;
    max-width: 500px;
    margin: 50vh auto 0;
    transform: translateY(-50%);
}
